img{
    width: 200px;
}

@keyframes arrow{
    0% {left: 0; transform: scaleX(1);}
    50%{left: 1800px; transform: scaleX(1);}
    51%{left: 1800px; transform: scaleX(-1);}
    100%{left: 0px; transform: scaleX(-1);}
}


.arrow{
    position:relative;
    animation: arrow 5s linear infinite;
}

body{
    background-color: rgb(140, 0, 255);
     
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}